<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h1 class="text-center">Stack</h1>
          <br><br>
          <form id="push-form">
            <div class="form-group">
              <label for="item">Enter item:</label>
              <input type="number" class="form-control" id="item" name="item">
              <button type="submit" class="btn btn-primary btn-block">Push</button>
            </div>
          </form>
            <br>
            <button id="pop-button"  class="btn btn-danger btn-block">Pop</button>
            <button id="top-button"  class="btn btn-info btn-block">Top</button>
            <div id="result"></div>
         
        </div>
      </div>
    </div>
    <script src="scripts.js"></script>
  </body>
</html>





